/* body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background: linear-gradient(90deg, #1143c0,  #34c7b7, #1143C1);
} */

body::-webkit-scrollbar {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/* src/index.css */
:root {
  /* Фирменые цвета */
  /* Основные цвета */
  --primary-blue: #1143c0;
  --primary-green: #0d9739;
  /* Дополнительные цвета */
  --accent-teal: #34c7b7;
  --accent-purple: #784cc3;
  --accent-yelow: #f5c64c;
  --accent-pink: #f4467e;
  --accent-red: #ff0000;
  --accent-light-blue: #9abcf9;
  --accent-orange: #ea7a57;

  /* Базовые цвета */
  --black: #000000;
  --white: #ffffff;

  /* Цвета для НЕОНОВЫХ ТЕНЕЙ */
  --glow-blue: rgba(17, 67, 192, 0.8);
  --glow-green: rgba(13, 151, 57, 0.7);
  --glow-teal: rgba(52, 199, 183, 0.9);
  --glow-purple: rgba(120, 76, 195, 0.8);
  --glow-yelow: rgba(245, 197, 76, 0.8);
  --glow-pink: rgba(244, 70, 125, 0.8);
  --glow-red: rgba(255, 0, 0, 0.8);
  --glow-light-blue: rgb(154, 188, 249, 0.7);
  --glow-orange: rgba(234, 121, 87, 0.8);

  /* Шрифты */
  --font-primary: 'Roboto', sans-serif;
  --font-headings: 'Orbitron', sans-serif;
  --border-radius-base: 0px;
  /* Без скруглений */

  /* Тени */
  --box-shadow-base: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-neon-blue-hover: 0 0 18px var(--glow-blue);
  --box-shadow-neon-green-hover: 0 0 18px var(--glow-green);
  --box-shadow-neon-teal-hover: 0 0 18px var(--glow-teal);

  --grid-gap: 20px;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  line-height: 1.6;
  color: var(--black);
  /* Черный текст по умолчанию для светлой темы */
  /* ЗАДАННЫЙ ГРАДИЕНТ ФОНА */
  /* background: linear-gradient(90deg, var(--primary-blue), var(--accent-teal), var(--primary-blue)); */
  background: #f5f5f5;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* Общий контейнер */
.container {
  width: 90%;
  /* Ширина 90% */
  margin: 0 auto;
  padding: 0 20px;
}

/* Базовые стили ссылок */
a {
  color: var(--primary-blue);
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
  color: var(--accent-teal);
  text-shadow: 0 0 6px var(--glow-teal);
  text-decoration: none;
}

/* Базовые стили заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  margin-bottom: 0.7em;
  color: var(--black);
  font-weight: 500;
  text-shadow: none;
}

/* Базовые стили иконок (подключите Font Awesome в index.html или через npm) */
i {
  margin-right: 8px;
  vertical-align: middle;
}

a i {
  margin-right: 0;
  margin-left: 5px;
}

/* Анимации (глобально) */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-fade-in {
  opacity: 0;
  animation: fadeIn 0.7s ease-out forwards;
  animation-delay: var(--animation-delay, 0s);
}